.fruit-wrapper {
  display: flex;
  justify-content: space-around;
  text-align: center;

  .fruit-basket {
    display: flex;
    align-content: start;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem;
  }
}
