<mat-toolbar>
    <span>Todo-App</span>
</mat-toolbar>

<main>
    <form #addTodoTxt="ngForm" (ngSubmit)="addTodo(addTodoTxt)">
        <mat-form-field appearance="fill">
            <mat-label for="add">Got {{hideTxt?'SECRET':''}} sh*t to do</mat-label>

            <input matInput name="add" id="add" [type]="hideTxt? 'password' : 'text'" minlength="5" ngModel #inputSht>

            <mat-hint *ngIf="inputSht.value.length<=5">
                at least {{inputSht.value.length}}/5 characters
            </mat-hint>
            <mat-hint *ngIf="inputSht.value.length>5">
                {{inputSht.value.length}} characters written
            </mat-hint>

            <button matSuffix mat-icon-button type="button" (click)="$event.preventDefault();hideTxt=!hideTxt"
                [attr.aria-label]="'Hide text'" [attr.aria-pressed]="hideTxt">
                <mat-icon>{{hideTxt?'key_off':'password'}}</mat-icon>
            </button>
        </mat-form-field>

        <button mat-raised-button color="primary" class="form-button">
            Add Todo
        </button>
    </form>

    <mat-radio-group [(ngModel)]="whichTodos" (change)="sortTodo(whichTodos)" name="sort">
        <mat-radio-button class="example-radio-button" value="all" checked>
            <span [matBadge]="todos.length" matBadgeOverlap="false" [matBadgeHidden]="todos.length===0">
                All
            </span>
        </mat-radio-button>
        <mat-radio-button class="example-radio-button" value="open">
            <span [matBadge]="countTodos(false)" matBadgeOverlap="false" [matBadgeHidden]="countTodos(false)===0">
                Open
            </span>
        </mat-radio-button>
        <mat-radio-button class="example-radio-button" value="done">
            <span [matBadge]="countTodos(true)" matBadgeOverlap="false" [matBadgeHidden]="countTodos(true)===0">
                Done
            </span>
        </mat-radio-button>
    </mat-radio-group>

    <section class="checklist_container">
        <h2>Checklist</h2>

        <mat-checkbox *ngFor="let todo of filteredTodos" [checked]="todo.done" #dones
            (change)="todo.done=$event.checked">
            {{todo.text}}
        </mat-checkbox>
        <button mat-raised-button color="accent" (click)="deleteTodos()">
            Delete Done
        </button>

    </section>
</main>