main {
  text-align: center;
}

.form-button {
  margin-top: -1rem;
}

mat-form-field {
  margin: 1rem;
}

.checklist_container {
  width: max-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: baseline;

  mat-checkbox {
    &:checked {
      //????
      text-decoration: line-through;
    }
  }
}
