<mat-toolbar>
    <span>Todo-App</span>
</mat-toolbar>

<main>
    <form>
        <mat-form-field appearance="fill">
            <mat-label>Got {{hideTxt?'SECRET':''}} sh*t to do</mat-label>
            <input matInput id="add" [type]="hideTxt? 'password' : 'text'" minlength="5" [value]="input">
            <mat-hint>{{[(input)]}}</mat-hint>
            <button matSuffix mat-icon-button (click)="$event.preventDefault();hideTxt=!hideTxt"
                [attr.aria-label]="'Hide text'" [attr.aria-pressed]="hideTxt">
                <mat-icon>{{hideTxt?'key_off':'password'}}</mat-icon>
            </button>
        </mat-form-field>
        <button mat-raised-button color="primary" class="form-button" (click)="$event.preventDefault()">Add
            Todo</button>
    </form>

    <mat-radio-group>
        <mat-radio-button class="example-radio-button">
            All
        </mat-radio-button>
        <mat-radio-button class="example-radio-button">
            Open
        </mat-radio-button>
        <mat-radio-button class="example-radio-button">
            Done
        </mat-radio-button>
    </mat-radio-group>


    <section>
        <h2>Checklist</h2>
        <p>
            <mat-checkbox formControlName="pepperoni">Pepperoni</mat-checkbox>
        </p>
        <p>
            <mat-checkbox formControlName="extracheese">Extra Cheese</mat-checkbox>
        </p>
    </section>
    <mat-slide-toggle>Toggle me!</mat-slide-toggle>
</main>